# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Eclipse
.classpath
.project
.settings/
bin/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# VS Code
.vscode/

# Spring Boot
*HELP.md
.gradle
build/

# Test Output
test-output/
download/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Claude
.claude/
